section {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}
div {
  border: 1px black solid;
  width: 12em;
  padding: 3px;
  margin-top: 0.5em;
}
img {
  width: 10em;
  height: 10em;
}